.vertical-slider {
  height: 10px;
  width: 800px;
}

.track {
  background-color: blue;
  border-radius: 10px;
  height: 100%;
}

.thumb {
  background-color: red;
  border-radius: 100%;
  width: 15px;
  height: 10px;
}
