.card {
  border: none;
  color: white;
  background-color: rgb(53, 52, 52);
  height: 70px;
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  svg {
    color: white;
  }
  &:hover {
    background-color: rgb(138, 136, 136);
    color: black;
    cursor: pointer;
    svg {
      color: black;
    }
  }
  &__name {
    text-align: left;
    width: 50%;
    &--artist {
      color: rgb(250, 245, 245, 0.8);
    }
  }
}
