@keyframes odsoky {
  0% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(1px);
  }
}

.bar {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  color: rgb(65, 63, 63);
  display: flex;
  height: 10vh;
  //   align-items: center;
  vertical-align: middle;
  &__controls {
    max-width: 1400px;
    margin: 0 auto;
    min-width: 320px;
    width: 100%;
    display: flex;
    // padding: 10px;
    height: 100%;
  }
}

.playing {
  display: flex;
  position: fixed;
  left: 0;
  img {
    height: 60px;
    width: 60px;
    // padding: 20px;
    justify-content: left;
    margin: 20px;
  }
  &__song-info {
    font-size: 15px;
    margin-top: 10px;
  }
}
