@keyframes odsoky {
  0% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(1px);
  }
}

.bar {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  color: rgb(65, 63, 63);
  height: 10vh;
  z-index: 100;
  .controls {
    max-width: 1400px;
    vertical-align: middle;
    width: 100%;
    display: flex;
    .playing {
      display: flex;
      width: 600px;
      align-items: center;
      img {
        height: 60px;
        width: 60px;
        justify-content: left;
        margin: 20px;
      }
      p {
        font-size: 15px;
        // margin-top: 10px;
        border: none;
        button {
          color: #413f3f;
          padding: 0;
          font-size: 15px;
          border: none;
          background-color: transparent;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .options {
      font-size: 40px;
      display: flex;
      position: absolute;
      right: 50px;
    }
  }
}
