.search_bar {
  input {
    border: none;
    height: 3vh;
    width: 40vw;
    border-radius: 100px;
    padding-left: 20px;
    margin-top: 12px;
  }
  button {
    border: none;
    height: 3vh;
    width: 10vw;
    border-radius: 20px;
    margin: 3px 0 0 30px;
    background-color: none;
  }
}
