.controller {
  margin: 15px auto 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  .controls {
    text-align: center;
    button {
      font-size: 40px;
      background-color: transparent;
      border: none;
      margin-left: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
