.controller {
  margin: 15px auto 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  .controls {
    text-align: center;
    button {
      padding-bottom: 5px;
      font-size: 30px;
      border: 1px white;
      border-radius: 50%;
      background-color: transparent;
      margin-left: 10px;
      color: white;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
